<div class="title">
  <h4 class="title">
    <span>{{ translations['title'] }}</span>
  </h4>
</div>

<ng-container *ngIf="userData?.referral else createTemplate">

  <p class="description">
    {{ translations['connected-metamask'] }}
  </p>

  <button class="image-button metamask flex" mat-ripple (click)="connect()">
    <lazy-image-component src="./assets/metamask.svg" objectFit="contain" width="22px" height="22px">
    </lazy-image-component>
    <span>{{ address ? address : this.translations['connect'] }}</span>
  </button>

  <ng-container *ngIf="userData != null && address != null && address != userData?.referral?.address">
    <p class="description">
      {{ translations['as-description'] }}
    </p>
    <button class="image-button metamask flex" mat-ripple>
      <span>{{ userData?.referral?.address }}</span>
    </button>
  </ng-container>

  <button class="image-button ref-desc" (click)="copyCode()">
    <span>{{ translations['ref-desc'] }}</span>
    <span>
      {{ userData?.referral?.hash }}
    </span>
  </button>

  <button class="image-button link-desc" (click)="copyUrl()">
    <span>{{ translations['link-desc'] }}</span>
  </button>

  <p class="earn">
    {{ translations['earn']({percent: data.configuration.referral}) }}
  </p>

  <p class="hint">
    {{ translations['hint'] }}
  </p>

  <button class="image-button primary generate" [disabled]="!address" matRipple (click)="posReferral()"
    [disabled]="disabled">
    {{ translations['regenerate'] }}
  </button>

</ng-container>

<ng-template #createTemplate>
  <p class="description">
    {{ translations['description'] }}
  </p>

  <button class="image-button metamask flex" mat-ripple (click)="connect()">
    <lazy-image-component src="./assets/metamask.svg" objectFit="contain" width="22px" height="22px">
    </lazy-image-component>
    <span>{{ address ? address : this.translations['connect'] }}</span>
  </button>

  <p class="earn">
    {{ translations['earn']({percent: data.configuration.referral}) }}
  </p>

  <button class="image-button primary generate" [disabled]="!address" matRipple (click)="posReferral()"
    [disabled]="disabled">
    {{ translations['sumbit-button'] }}
  </button>
</ng-template>

<button class="image-button dialog-close" mat-ripple (click)="close()">
  <lazy-image-component src="./assets/cancel.svg" objectFit="contain" width="22px" height="22px" class="round">
  </lazy-image-component>
</button>