<div class="title">
    <h4 class="title">
        <span>{{ translations['title'] }}</span>
    </h4>
</div>

<div class="input relative">
    <input type="text" (keyup)="onFilter()" [(ngModel)]="text" [placeholder]="translations['search']" autocomplete />
    <button class="image-button" aria-label="Clear" (click)="onClear()" matRipple>
        <lazy-image-component src="./assets/remove.svg" width="16px" height="16px" objectFit="contain">
        </lazy-image-component>
    </button>
</div>

<div class="table-list" *ngIf="list?.count > 0 else error">
    <table class="styled-table">
        <thead>
            <tr>
                <th>{{ translations['amount'] }}</th>
                <th>{{ translations['info'] }}</th>
                <th width="180">{{ translations['status'] }}</th>
                <th width="180">{{ translations['interest'] }}</th>
                <th width="120">{{ translations['created'] }}</th>
                <th width="120">{{ translations['valid'] }}</th>
            </tr>
        </thead>
        <tbody class="small-scroll">
            <tr *ngFor="let item of list.data; let i = index; trackBy: trackByKey">
                <td>
                    <div class="small">
                        <span>
                            <a routerLink="/admin/panel/loan/{{item.key}}">{{ translations['view'] }}</a>
                        </span>
                        <span>
                            <small>{{ translations['amount'] }}: <span copy>{{ item.amount }}</span></small>
                        </span>
                        <span>
                            <small>{{ translations['email'] }}: <span copy>{{ item.email }}</span></small>
                        </span>
                        <!-- <span>
                            <small>{{ translations['address'] }}: <span copy>{{ item.walletAddress }}</span></small>
                        </span> -->
                    </div>
                </td>
                <td>
                    <!-- <div class="small files">
                        <a class="image-button" target="_blank"
                            href="{{cloud_url}}/uploads/images/{{item.imageFile.name}}">
                            {{ item.imageFile.name }}
                        </a>
                        <a class="image-button" target="_blank" href="{{cloud_url}}/uploads/pdf/{{item.pdfFile.name}}">
                            {{ item.pdfFile.name }}
                        </a>
                    </div> -->
                </td>
                <td width="180">
                    <div class="small">
                        <select [(ngModel)]="item.status" (change)="onChange(i)">
                            <option *ngFor="let status of statuses | keyvalue: orderKeyValue; trackBy: trackByKey"
                                [value]="status.value.key">
                                {{ translations[status.value.key] }}
                            </option>
                        </select>
                    </div>
                </td>
                <td width="180">
                    <div class="small">

                    </div>
                </td>
                <td width="120">
                    <div class="small">
                        {{item.createdAt | date:'dd/MM/yyyy'}}
                    </div>
                </td>
                <td width="120">
                    <div class="small">
                        {{item.validUntil | date:'dd/MM/yyyy'}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="actions flex">
        <div class="pages">
            <span>{{ translations['pages'] }}: </span>
            <button class="image-button" *ngFor="let p of pages" [class.active]="p.index == page"
                (click)="setPage(p.index)">
                {{ p.name }}
            </button>
        </div>
        <div class="flex">
            <button class="image-button flex ripple action" matRipple matTooltipTouchGestures="off"
                [matTooltip]="translations['prev']" (click)="setPage(page - 1)" [disabled]="page == 0">
                <lazy-image-component src="/assets/left-green.svg" width="24px" height="24px" objectFit="contain">
                </lazy-image-component>
            </button>
            <button class="image-button flex ripple action" matRipple matTooltipTouchGestures="off"
                [matTooltip]="translations['next']" (click)="setPage(page + 1)" [disabled]="page == (pagesCount-1)">
                <lazy-image-component src="/assets/right-green.svg" width="24px" height="24px" objectFit="contain">
                </lazy-image-component>
            </button>
        </div>
    </div>
</div>

<ng-template #error>
    <div class="error">
        {{ translations['error'] }}
    </div>
</ng-template>