<router-outlet></router-outlet>

<!-- <app-stake02>
    
</app-stake02> -->

<!-- <app-lend02>
    
</app-lend02> -->

<!-- <app-dashboard>
    
</app-dashboard>

<router-outlet></router-outlet> -->

<!-- <app-lend01>

</app-lend01>  -->

<!-- <app-all-transactions>

    
</app-all-transactions> -->

<!-- <app-referral>
    
</app-referral> -->

<!-- <app-p2p01>
    
</app-p2p01> -->

<!-- <app-p2p02>
    
</app-p2p02> -->

<!-- <app-p2p03>
    
</app-p2p03> -->


<!-- <app-bonds01>

</app-bonds01> -->

<!-- <app-bonds03>

</app-bonds03> -->

<!-- <app-bonds02>

</app-bonds02> -->

<!-- <app-whitelist>

</app-whitelist> -->

<!-- <app-autonomous-earning>
    
</app-autonomous-earning> -->

<!-- <app-lend02>

</app-lend02> -->


<!-- <app-borrow02>

</app-borrow02> -->

<!-- <app-borrow03>

</app-borrow03>

<app-borrow04>

</app-borrow04> -->




<!-- <app-login>
  
</app-login> -->

<!-- <app-sidebar>

</app-sidebar> -->



<!-- <app-login>
  
</app-login> -->

<!-- <app-sign-up>

</app-sign-up> -->

<!-- <app-sign-up02>

</app-sign-up02> -->

<!-- <app-sign-up03>

</app-sign-up03> -->

<!-- <app-password>
    
</app-password> -->

<!-- <app-password02>
    
</app-password02> -->

<!-- <app-password03>
    
</app-password03> -->

<!-- <app-password04>
    
</app-password04> -->



<!-- <app-lend03>
    
</app-lend03> -->

<!-- <app-my-borrow>
    
</app-my-borrow> -->

<!-- <app-wallet>

</app-wallet> -->

<!-- <app-header>

</app-header> -->

<!-- <app-steaking-catalogue>
    
</app-steaking-catalogue> -->


<!-- <app-user-details>
    
</app-user-details> -->