form {
    position: relative;
    width: 100%;
    margin: 5px 20px;
    padding-left: 15px;
    flex-direction: column;
    max-width: 300px;
    padding-right: 10px;

    &::before {
        content: " ";
        position: absolute;
        top: 0px;
        left: 0;
        height: 98%;
        width: 4px;
        background-color: rgba(58, 63, 80, 0.2);
    }

    h2 {
        color: #2c3142;
        font-size: 16px;
        font-weight: 400;
        margin: 15px 0;
        position: relative;
        padding: 5px 0;
        margin-left: 10px;

        &::before {
            content: " ";
            position: absolute;
            bottom: 0px;
            left: -5px;
            height: 100%;
            width: calc(100% + 25px);
            background-color: rgba(140, 212, 236, 0.5);
            z-index: 1;
            height: 6px;
            width: 60%;
        }
        span {
            z-index: 2;
            position: relative;
        }
    }

    button {
        align-self: flex-end;
    }
}

@media (max-width: 500px) {
    form {
        margin: 5px 0px;
        padding-left: 0 25px 25px 25px;
        max-width: 100%;
        &::before {
            display: none;
        }
        div.box {
            margin: 0 auto;
        }
        button {
            max-width: unset;
        }
    }
}
