:host {
    display: block;
    background: #ffffff;
    border: 1px solid rgba(31, 60, 135, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(189, 196, 211, 0.15);
    border-radius: 5px;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

div.wallet {
    display: flex;
    align-items: center;
    padding: 10px 10px 0px 10px;

    div.info {
        flex: 0.8;
        h3 {
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: var(--light-blue);
            font-size: 14px;
            display: flex;
            align-items: center;
        }
    }

    div.address {
        flex: 1.1;

        button {
            align-items: center;
            span {
                font-size: 12px;
                color: var(--dark-blue);
            }
            lazy-image-component {
                margin-right: 5px;
            }
        }
    }

    div.actions {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }
}

button {
    padding: 5px;
    span.box {
        align-items: center;
        display: flex !important;
        font-size: 11px;
        color: var(--dark-blue);
    }
}

span.round {
    margin-right: 5px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(72, 185, 255, 0.2);
    padding: 8px;
}

lazy-image-component.round {
    margin-right: 5px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(72, 185, 255, 0.2);
    padding: 5px;
}

button:disabled {
    span.round {
        background-color: rgb(175 175 175 / 20%);
    }
    lazy-image-component {
        background-color: rgb(175 175 175 / 20%);
    }
}

div.balance {
    width: 100%;
    display: flex;
    border-top: 1px solid rgba(31, 60, 135, 0.1);
    padding: 10px 10px 10px 10px;
    button {
        flex: 1;
        span.box {
            font-size: 12px;
            font-weight: bold;
            font-weight: 600;
        }
    }
    &::after {
        content: "";
        flex: 0.4;
    }
}
