:host {
    width: 100vw;
    max-width: 340px;
    display: block;
}
h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #bdc4d3;
    text-transform: uppercase;
}
a.forgot-passwrd {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    color: #1f3c87;
}
button {
    background: #1f3c87;
    border-radius: 4px;
    width: 100%;
    color: white;
    margin: 20px 0;
    padding: 10px;
}
div.sign-up {
    p {
        font-size: 11px;
        color: #5a5e68;
        margin: 0;
    }
    a {
        font-weight: 600;
        font-size: 12px;
        color: #1f3c87;
        margin-left: 5px;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            width: 3px;
            height: 3px;
            background-color: #1f3c87;
            display: block;
            margin: 0 4px;
        }
    }
}
