<div class="input" [class.submited]="isSubmited" [ngSwitch]="type">
    <div class="input-container" [class.ng-invalid]="control.invalid" [class.ng-touched]="control.touched">

        <ng-container *ngSwitchDefault>
            <lazy-image-component *ngIf="icon" [src]="icon" width="22px" height="22px">
            </lazy-image-component>

            <input autocomplete [formControl]="control" [type]="type" [readonly]="readonly" [placeholder]="hint" [pattern]="pattern"/>

            <button *ngIf="button" class="image-button"  matRipple type="button" (click)="handler()" [disabled]="disabled">
                {{ button }}
            </button>

            <lazy-image-component class="icon-right" *ngIf="iconRight" [src]="iconRight" width="22px" height="22px">
            </lazy-image-component>

        </ng-container>

        <ng-container *ngSwitchCase="types.number">
            <lazy-image-component *ngIf="icon" [src]="icon" width="22px" height="22px">
            </lazy-image-component>

            <input autocomplete [formControl]="control" type="number" *ngSwitchCase="types.number" [readonly]="readonly"
                [positive]="positive" [placeholder]="hint" [integer]="integer">

            <button *ngIf="button" class="image-button"  matRipple type="button" (click)="handler()" [disabled]="disabled">
                {{ button }}
            </button>

            <lazy-image-component class="icon-right" *ngIf="iconRight" [src]="iconRight" width="22px" height="22px">
            </lazy-image-component>
        </ng-container>

        <ng-container *ngSwitchCase="types.date">
            <input autocomplete [formControl]="control" [readonly]="true" (click)="picker.open()"
                [matDatepicker]="picker" />
            <mat-datepicker #picker></mat-datepicker>
            <lazy-image-component class="icon-right" *ngIf="iconRight" [src]="iconRight" width="22px" height="22px">
            </lazy-image-component>
        </ng-container>

        <textarea autocomplete [formControl]="control" *ngSwitchCase="types.textarea" [readonly]="readonly"
            [rows]="rows" [placeholder]="hint"></textarea>
    </div>

    <span *ngIf="placeholder">
        {{ placeholder }}
    </span>

    <div class="errors">
        <p *ngFor="let error of control | error | slice:0:1">
            {{error}}
        </p>
    </div>
</div>