:host {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 400px;
    flex-direction: column;
    position: relative;
}

button {
    &.close {
        top: -20px;
        right: -20px;
        position: absolute;
    }
}

h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--blueish-gray);
}

p {
    font-weight: normal;
    font-size: 13px;
    color: var(--black);
}

hr {
    height: 1px;
    background: rgba(31, 60, 135, 0.1);
    width: 100%;
    border: none;
    margin: 20px 0;
}

form {
    flex-direction: column;
    button {
        margin-top: 5px;
    }
}
