:host {
    display: flex;
    padding: 40px 0 !important;
    max-width: 1240px;
    flex-direction: column;
}

div.info {
    display: flex;
    width: 100%;

    div.total {
        flex: 1.8;
        display: flex;
        margin-right: 10px;
        background: #ffffff;
        border: 1px solid rgba(31, 60, 135, 0.1);
        box-shadow: 0px 4px 8px rgba(189, 196, 211, 0.15);
        border-radius: 5px;
        padding: 10px;
        overflow: hidden;
        position: relative;

        div.balances {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            flex: 1.1;
            overflow: hidden;

            div.balance {
                margin-bottom: 10px;

                span.title {
                    color: var(--dark-blue);
                    font-weight: normal;
                    font-size: 12px;
                    margin: 15px 0 0 0;

                    display: flex;
                    align-items: center;

                    &:first-child {
                        &::before {
                            content: "";
                            height: 8px;
                            width: 8px;
                            margin-right: 5px;
                            border-radius: 50%;
                            display: block;
                        }
                    }
                }

                &:first-child {
                    span {
                        &::before {
                            background-color: var(--light-blue);
                        }
                    }
                }

                &:nth-child(2) {
                    span {
                        &::before {
                            background-color: var(--blueish-gray);
                        }
                    }
                }

                p {
                    font-weight: bold;
                    font-size: 20px;
                    display: flex;
                    align-items: flex-start;
                    color: var(--light-blue);
                    margin: 0 0 15px 0;

                    span {
                        font-weight: 300;
                        font-size: 16px;
                        margin: 5px;
                    }
                }
            }
        }

        canvas {
            flex: 1.8;
            max-height: 198px;
            max-width: 260px;
            height: 198px !important;
            width: 260px !important;
            overflow: hidden;
        }
    }

    div.interest {
        flex: 1.2;
        margin: 0 10px;

        display: flex;
        flex-direction: column;

        div.balance {
            flex: 1;
            background: #ffffff;
            border: 1px solid rgba(31, 60, 135, 0.1);
            box-sizing: border-box;
            box-shadow: 0px 4px 8px rgba(189, 196, 211, 0.15);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 40px;

            &:first-child {
                margin-bottom: 10px;
            }

            &:nth-child(2) {
                margin-top: 10px;
            }

            span.title {
                color: var(--dark-blue);
                font-weight: normal;
                font-size: 12px;
                margin: 15px 0 0 0;
            }

            p {
                font-weight: bold;
                font-size: 25px;
                display: flex;
                align-items: flex-start;
                color: var(--light-blue);
                margin: 0 0 15px 0;

                span {
                    font-weight: 300;
                    font-size: 16px;
                    margin: 5px;
                }
            }
        }
    }

    div.payment {
        flex: 1.5;
        margin-left: 10px;
        background: #f3f9fd;
        border: 1px solid rgba(31, 60, 135, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 4px 8px rgba(189, 196, 211, 0.15);
        border-radius: 5px;
        padding-top: 5px;

        div.balance {
            margin-left: 30px;

            span.title {
                color: var(--dark-blue);
                font-weight: normal;
                font-size: 12px;
                margin: 15px 0 0 0;

                display: flex;
                align-items: center;
            }

            p {
                font-weight: bold;
                font-size: 25px;
                display: flex;
                align-items: flex-start;
                color: var(--light-blue);
                margin: 0 0 15px 0;

                lazy-image-component {
                    margin: 8px 5px 0 0;
                }

                span {
                    font-weight: 300;
                    font-size: 16px;
                    margin: 5px;
                }
            }

            &.timer {
                p {
                    font-size: 21px;
                    color: var(--dark-blue);
                }
            }
        }

        hr {
            border-bottom: 1px solid rgba(31, 60, 135, 0.1);
            background: rgba(31, 60, 135, 0.1);
            border-top: none;
            margin: 0 20px;
            height: 1px;
        }

        div.space {
            justify-content: space-between;
            margin-right: 25px;
        }
    }
}

div.apy {
    width: 100%;
    overflow: hidden;

    background: #ffffff;
    border: 1px solid rgba(31, 60, 135, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(189, 196, 211, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
        font-size: 14px;
        color: var(--blueish-gray);
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 15px;
    }

    div.chart-container {
        padding: 20px;
        height: 420px;
        width: 100%;
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 14px;
            color: var(--blueish-gray);
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin: 15px;
        }

        canvas {
            max-height: 380px;
            height: 380px !important;
            width: 875px !important;
            max-width: 875px;
        }
    }

    div.horizontal {
        flex: 5;
        overflow: hidden;
    }

    div.pie {
        flex: 1.6;
        overflow: hidden;
        align-items: center;
        display: flex;

        canvas {
            max-height: 256px;
            height: 256px;
            width: 256px;
            max-width: 256px;
        }
    }
}

error-component {
    margin: 25px 0;
}

div.tvl {
    margin: 25px 0;
    display: flex;
    background: #ffffff;
    border: 1px solid rgba(31, 60, 135, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(189, 196, 211, 0.15);
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 0.5px;
    align-items: center;
    color: var(--dark-blue);
    font-weight: 600;
    text-transform: uppercase;

    &::before {
        content: "";
        height: 8px;
        width: 8px;
        margin-right: 5px;
        border-radius: 50%;
        display: block;
        background-color: var(--light-blue);
    }

    p {
        font-weight: bold;
        font-size: 22px;
        display: flex;
        align-items: flex-start;
        color: var(--light-blue);
        margin: 0;

        span {
            font-weight: 300;
            font-size: 16px;
            margin: 5px;
        }
    }
}

.help {
    cursor: help;
}