authneticator-code-dialog {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 440px;
    flex-direction: column;
    position: relative;
    button {
        &.close {
            top: -20px;
            right: -20px;
            position: absolute;
        }
    }

    button.default {
        border: 1px solid #1f3c87;
        border-radius: 4px;
        justify-content: center;
        padding: 10px 25px;
        background-color: white;
        width: 100%;
        margin-top: 15px;
    }

    h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: var(--blueish-gray);
    }

    p {
        font-weight: normal;
        font-size: 13px;
        color: var(--black);
        span {
            color: var(--light-blue);
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    hr {
        height: 1px;
        background: rgba(31, 60, 135, 0.1);
        width: 100%;
        border: none;
        margin: 20px 0;
    }

    form {
        flex-direction: column;
        button {
            margin-top: 5px;
        }
    }
    div.item {
        &:first-child {
            flex: 1;
            margin-right: 10px;
        }
        &:last-child {
            flex: 1.4;
            margin-left: 10px;
        }
    }
    mat-checkbox.error {
        color: #bd1010;
    }
}
