<div class="card-container">
    <ng-container *ngIf="transactions.length > 0; else errorTemplate">
        <div class="titles">
            <h4>
                {{ translations['txn'] }}
            </h4>
            <h4>
                {{ translations['date'] }}
            </h4>
            <h4>
                {{ translations['from'] }}
            </h4>
            <h4>
                {{ translations['to'] }}
            </h4>
            <h4>
                {{ translations['amount'] }}
            </h4>
            <h4>
                {{ translations['type'] }}
            </h4>
        </div>
        <div class="items">
            <virtual-scroller #scroll [items]="transactions" [parentScroll]="scroll.window">

                <div class="item flex" *ngFor="let item of transactions; trackBy: trackById">
                    <h4 copy>{{item.transaction}}</h4>
                    <h4>
                        {{item.createdAt | date:'dd/MM/yyyy'}}
                    </h4>
                    <h4 copy>{{item.from}}</h4>
                    <h4 copy>{{item.to}}</h4>
                    <h4>
                        <ng-container [ngSwitch]="item.currency">
                            <button class="image-button flex currency" *ngSwitchCase="'credi'">
                                <lazy-image-component class="round" src="./assets/credi-logo.svg" objectFit="contaout"
                                    width="14px" height="14px">
                                </lazy-image-component>
                                <span> {{ item.value | number:'1.4-4' }}</span>
                            </button>
                            <button class="image-button flex currency" *ngSwitchCase="'eth'">
                                <lazy-image-component class="round" src="./assets/eth-logo.svg" objectFit="contaout"
                                    width="14px" height="14px">
                                </lazy-image-component>
                                <span> {{ item.value | number:'1.4-4' }}</span>
                            </button>
                            <button class="image-button flex currency" *ngSwitchCase="'usdc'">
                                <lazy-image-component class="round" src="./assets/usdc-logo.svg" objectFit="contaout"
                                    width="14px" height="14px">
                                </lazy-image-component>
                                <span> {{ item.value | number:'1.2-2' }}</span>
                            </button>
                            <button class="image-button flex currency" *ngSwitchCase="'usdt'">
                                <lazy-image-component class="round" src="./assets/usdt-logo.svg" objectFit="contaout"
                                    width="14px" height="14px">
                                </lazy-image-component>
                                <span> {{ item.value | number:'1.2-2' }}</span>
                            </button>
                            <button class="image-button flex currency" *ngSwitchCase="'dai'">
                                <lazy-image-component class="round" src="./assets/dai-logo.svg" objectFit="contaout"
                                    width="14px" height="14px">
                                </lazy-image-component>
                                <span> {{ item.value | number:'1.2-2' }}</span>
                            </button>
                            <button class="image-button flex currency" *ngSwitchCase="'busd'">
                                <lazy-image-component class="round" src="./assets/busd-logo.svg" objectFit="contaout"
                                    width="14px" height="14px">
                                </lazy-image-component>
                                <span> {{ item.value | number:'1.2-2' }}</span>
                            </button>
                        </ng-container>
                    </h4>
                    <h4>
                        <ng-container [ngSwitch]="item.type">

                            <button class="image-button flex" *ngSwitchCase="types.send.key">
                                <lazy-image-component class="round" src="./assets/out.svg" objectFit="contaout"
                                    width="14px" height="14px">
                                </lazy-image-component>
                                <span> {{ translations["out"] }}</span>
                            </button>

                            <button class="image-button flex" *ngSwitchCase="types.buy.key">
                                <lazy-image-component class="round" src="./assets/in.svg" objectFit="contain"
                                    width="14px" height="14px">
                                </lazy-image-component>
                                <span> {{ translations["in"] }}</span>
                            </button>

                        </ng-container>
                    </h4>

                </div>
            </virtual-scroller>
        </div>
    </ng-container>
    <ng-template #errorTemplate>
        <error-component [text]="translations['error']">

        </error-component>
    </ng-template>
</div>