<div class="title">
    <h4 class="title">
        <span>{{ translations['title'] }}</span>
    </h4>
</div>

<section class="checkbox">
    <mat-checkbox (change)="showProcessing($event)" [(ngModel)]="processing">{{ translations['proceed'] }}
    </mat-checkbox>
</section>

<div class="input relative">
    <input type="text" (keyup)="onFilter()" [(ngModel)]="text" [placeholder]="translations['search']" autocomplete />
    <button class="image-button" aria-label="Clear" (click)="onClear()" matRipple>
        <lazy-image-component src="./assets/remove.svg" width="16px" height="16px" objectFit="contain">
        </lazy-image-component>
    </button>
</div>

<button class="image-button send date" matRipple (click)="pickerDate.open()" [disabled]="!processing">
    <span *ngIf="date else templateDate">{{date | date:'dd/MM/yyyy'}}</span>
    <ng-template #templateDate>
        <span>--/--/----</span>
    </ng-template>
    <mat-datepicker #pickerDate></mat-datepicker>
    <input style="padding:0;border-width:0px;border:none;height:0;visibility:hidden;" [matDatepicker]="pickerDate"
        [(ngModel)]="date" (dateChange)="onSortDate()">
</button>

<button class="image-button send" matRipple (click)="export()">
    {{ translations['export'] }}
</button>

<div class="table-list" *ngIf="list?.count > 0 else error">
    <table class="styled-table">
        <thead>
            <tr>
                <th>{{ translations['amount'] }}</th>
                <th>{{ translations['interest'] }}</th>
                <th width="220">{{ translations['status'] }}</th>
                <th width="180">{{ translations['risk'] }}</th>
                <th width="100" class="small">{{ translations['created'] }}</th>
                <th width="100" class="small">{{ translations['valid'] }}</th>
            </tr>
        </thead>
        <tbody class="small-scroll">
            <tr *ngFor="let item of list.data; let i = index; trackBy: trackByKey">
                <td>
                    <div class="small">

                        <button class="image-button maturity" (click)="openMaturity(item)">
                            {{ translations['maturities'] }}
                        </button>
                        <span>
                            <small>{{ translations['email'] }}: <span copy>{{ item.email }}</span></small>
                        </span>
                        <span>
                            <small>{{ translations['months'] }}: <span copy>{{ item.months }}</span></small>
                        </span>
                        <span>
                            <small>{{ translations['address'] }}: <span copy>{{ item.walletAddress }}</span></small>
                        </span>
                        <span *ngIf="item.groupOneAmount > 0">
                            {{ item.configuration.groupOneName }}: {{ item.groupOneAmount | number:'1.6-6' }}
                            {{ item.currency?.name }}
                        </span>
                        <span *ngIf="item.groupTwoAmount > 0">
                            {{ item.configuration.groupTwoName }}: {{ item.groupTwoAmount | number:'1.6-6' }} {{
                            item.currency?.name }}
                        </span>
                        <span *ngIf="item.groupThreeAmount > 0">
                            {{ item.configuration.groupThreeName }}: {{ item.groupThreeAmount | number:'1.6-6' }} {{
                            item.currency?.name }}
                        </span>
                        <span *ngIf="item.groupFourAmount > 0">
                            {{ item.configuration.groupFourName }}: {{ item.groupFourAmount | number:'1.6-6' }} {{
                            item.currency?.name }}
                        </span>
                        <span>
                            {{ translations['transfer'] }}: {{ item.processing | number:'1.6-6' }} {{
                            item.currency?.name }}
                        </span>
                        <span>
                            {{ translations['transfer-month'] }}:
                            {{ (item.processing / item.months ) | number:'1.6-6' }}
                            {{ item.currency?.name }}
                        </span>
                        <span *ngIf="item.referral">
                            {{ translations['referral'] }}: {{ item.referral.percent }}%,
                            <font copy>{{ item.referral.address }}</font>
                        </span>
                        <!-- <button class="image-button send" matRipple *ngIf="processing" (click)="send(i)"
                            [disabled]="sending">
                            {{ translations['send'] }}
                        </button> -->
                    </div>
                </td>
                <td>
                    <div class="small">
                        <span>
                            {{ translations['chain'] }}: {{ item.chain }}
                        </span>
                        <span *ngIf="item.groupOneAmount > 0">
                            <small>
                                {{ translations['address'] }}: <span copy>{{ item.configuration.groupOne }}
                                </span>
                            </small>
                            <small>
                                {{ translations['transaction'] }}:
                                <span copy>{{ item.configuration.groupOneTransaction }}
                                </span>
                            </small>
                            {{ item.configuration.groupOneName }}:
                            {{ item.configuration.groupOneInterest }}%
                            <br>
                            {{ translations['profit'] }}: {{ item.groupOneProfit }} {{ item.currency?.name }}
                        </span>
                        <span *ngIf="item.groupTwoAmount > 0">
                            <small>
                                {{ translations['address'] }}: <span copy>{{ item.configuration.groupTwo}}
                                </span>
                            </small>
                            <small>
                                {{ translations['transaction'] }}:
                                <span copy>{{ item.configuration.groupTwoTransaction }}
                                </span>
                            </small>
                            {{ item.configuration.groupTwoName }}: {{ item.configuration.groupTwoInterest }}%
                            <br>
                            {{ translations['profit'] }}: {{ item.groupTwoProfit }} {{ item.currency?.name }}
                        </span>
                        <span *ngIf="item.groupThreeAmount > 0">
                            <small>
                                {{ translations['address'] }}: <span copy>{{ item.configuration.groupThree}}</span>
                            </small>
                            <small>
                                {{ translations['transaction'] }}:
                                <span copy>{{ item.configuration.groupThreeTransaction }}
                                </span>
                            </small>
                            {{ item.configuration.groupThreeName }}: {{ item.configuration.groupThreeInterest }}%
                            <br>
                            {{ translations['profit'] }}: {{ item.groupThreeProfit }} {{ item.currency?.name }}
                        </span>
                        <span *ngIf="item.groupFourAmount > 0">
                            <small>
                                {{ translations['address'] }}: <span copy>{{ item.configuration.groupFour }}</span>
                            </small>
                            <small>
                                {{ translations['transaction'] }}:
                                <span copy>{{ item.configuration.groupFourTransaction }}
                                </span>
                            </small>
                            {{ item.configuration.groupFourName }}: {{ item.configuration.groupFourInterest }}%
                            <br>
                            {{ translations['profit'] }}: {{ item.groupFourProfit }} {{ item.currency?.name }}
                        </span>
                    </div>
                </td>
                <td width="220">
                    <div class="small">
                        <span class="flex" *ngIf="item.groupOneAmount > 0">
                            {{ item.configuration.groupOneName }}:

                            <select [(ngModel)]="item.configuration.groupOneStatus" (change)="onChange(i)">
                                <option *ngFor="let status of statuses | keyvalue: orderKeyValue; trackBy: trackByKey"
                                    [value]="status.value.key">
                                    {{ translations[status.value.key] }}
                                </option>
                            </select>

                        </span>
                        <span class="flex" *ngIf="item.groupTwoAmount > 0">
                            {{ item.configuration.groupTwoName }}:
                            <select [(ngModel)]="item.configuration.groupTwoStatus" (change)="onChange(i)">
                                <option *ngFor="let status of statuses | keyvalue: orderKeyValue; trackBy: trackByKey"
                                    [value]="status.value.key">
                                    {{ translations[status.value.key] }}
                                </option>
                            </select>
                        </span>
                        <span class="flex" *ngIf="item.groupThreeAmount > 0">
                            {{ item.configuration.groupThreeName }}:
                            <select [(ngModel)]="item.configuration.groupThreeStatus" (change)="onChange(i)">
                                <option *ngFor="let status of statuses | keyvalue: orderKeyValue; trackBy: trackByKey"
                                    [value]="status.value.key">
                                    {{ translations[status.value.key] }}
                                </option>
                            </select>
                        </span>
                        <span class="flex" *ngIf="item.groupFourAmount > 0">
                            {{ item.configuration.groupFourName }}:
                            <select [(ngModel)]="item.configuration.groupFourStatus" (change)="onChange(i)">
                                <option *ngFor="let status of statuses | keyvalue: orderKeyValue; trackBy: trackByKey"
                                    [value]="status.value.key">
                                    {{ translations[status.value.key] }}
                                </option>
                            </select>
                        </span>
                    </div>
                </td>
                <td width="180">
                    <div class="small">
                        <span *ngIf="item.groupOneAmount > 0">
                            {{ item.configuration.groupOneName }}: {{ item.configuration.groupOneRisk }}%
                        </span>
                        <span *ngIf="item.groupTwoAmount > 0">
                            {{ item.configuration.groupTwoName }}: {{ item.configuration.groupTwoRisk }}%
                        </span>
                        <span *ngIf="item.groupThreeAmount > 0">
                            {{ item.configuration.groupThreeName }}: {{ item.configuration.groupThreeRisk }}%
                        </span>
                        <span *ngIf="item.groupFourAmount > 0">
                            {{ item.configuration.groupFourName }}: {{ item.configuration.groupFourRisk }}%
                        </span>
                    </div>
                </td>
                <td width="100">
                    <div class="small relative">
                        <span (click)="picker.open()">{{item.createdAt | date:'dd/MM/yyyy'}}</span>
                        <mat-datepicker #picker></mat-datepicker>
                        <input style="padding:0;border-width:0px;border:none;height:0;visibility:hidden;"
                            [matDatepicker]="picker" [(ngModel)]="item.createdAt" (dateChange)="onDateChange(item)">
                    </div>
                </td>
                <td width="100">
                    <div class="small">
                        {{item.validUntil | date:'dd/MM/yyyy'}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="actions flex">
        <div class="pages">
            <span>{{ translations['pages'] }}: </span>
            <button class="image-button" *ngFor="let p of pages" [class.active]="p.index == page"
                (click)="setPage(p.index)">
                {{ p.name }}
            </button>
        </div>
        <div class="flex">
            <button class="image-button flex ripple action" matRipple matTooltipTouchGestures="off"
                [matTooltip]="translations['prev']" (click)="setPage(page - 1)" [disabled]="page == 0">
                <lazy-image-component src="/assets/left-green.svg" width="24px" height="24px" objectFit="contain">
                </lazy-image-component>
            </button>
            <button class="image-button flex ripple action" matRipple matTooltipTouchGestures="off"
                [matTooltip]="translations['next']" (click)="setPage(page + 1)" [disabled]="page == (pagesCount-1)">
                <lazy-image-component src="/assets/right-green.svg" width="24px" height="24px" objectFit="contain">
                </lazy-image-component>
            </button>
        </div>
    </div>
</div>

<ng-template #error>
    <div class="error">
        {{ translations['error'] }}
    </div>
</ng-template>