<user-menu-component [title]="translations['lend']"></user-menu-component>

<mat-stepper orientation="vertical" linear="true" class="no-border" (animationDone)="chartParser()">
    <mat-step [stepControl]="formOne">

        <ng-template matStepperIcon="edit">
            <lazy-image-component src="./assets/okay.svg" objectFit="contain" width="28px" height="28px">
            </lazy-image-component>
        </ng-template>

        <ng-template matStepLabel>
            {{ translations['stepOne'] }}
            <span>
                {{ translations['stepOneTitle'] }}
            </span>
        </ng-template>

        <form [formGroup]="formOne" class="small" #formGroupDirective="ngForm">

            <div class="flex input">

                <select-component [placeholder]="translations['currency']" icon="./assets/loans-button-active.svg"
                    controlName="currency" (change)="setCurrency()">
                    <option-component [item]="mercuryo" [key]="mercuryo.key"
                        [name]="mercuryo.data.fiat_currency + ' ( ' + translations['mercuryo'] + ' )' ">
                    </option-component>
                    <option-component *ngFor="let it of currencies | keyvalue : orderKeyValue; trackBy: trackByKey"
                        [item]="it.value" [key]="it.value.key" [name]="it.value.name">
                    </option-component>
                </select-component>

                <select-component [placeholder]="translations['wallet']" icon="./assets/usd.svg" controlName="wallet"
                    (change)="setMaxValidator()">
                    <option-component *ngFor="let it of accounts; trackBy: trackByKey" [item]="it" [key]="it"
                        name="{{ it.type == walletTypes.metamask ? 'Metamask wallet' : it.name }} {{it['amount'+formOne.value.currency] != null ? '(' + ( it['amount'+formOne.value.currency] | number:'1.2-2' ) + ' '+ currency + ')': '' }} {{it.address}}">
                    </option-component>
                </select-component>

            </div>

            <div class="flex input">
                <div class="input-container">
                    <input-component type="number" controlName="amount" [placeholder]="translations['amount']"
                        [positive]="true">
                    </input-component>
                </div>

                <!-- <input-component type="number" controlName="months" [placeholder]="translations['months']"
                    [positive]="true" [integer]="true">
                </input-component> 
                -->

                <div class="slider">
                    <span>
                        {{ formOne.get('months')?.value }} {{ formOne.get('months')?.value == 1 ? translations['mnth'] :
                        translations['mnths'] }}
                    </span>
                    <mat-slider color="accent" thumbLabel [displayWith]="sliderMonths" min="1" max="60" step="1"
                        formControlName="months">
                    </mat-slider>
                </div>


            </div>

            <div class="flex input">

                <div class="input-container" *ngIf="activateRoute.snapshot.data.code else noPromoCodeTemplate">
                    <input-component type="text" controlName="promocode" [placeholder]="translations['promocode']({ promotion: activateRoute.snapshot.data.code.promotion })" [readonly]="true">
                    </input-component>
                </div>

                <div class="input-container">
                    <input-component [button]="referral == null ? ref_actions.OK : ref_actions.DELETE" type="text"
                        controlName="referral" [placeholder]="translations['referral']" (action)="onRef()"
                        [readonly]="!!referral" pattern="[a-zA-Z0-9]+">
                    </input-component>
                    <ng-container *ngIf="referral">
                        <p class="referral">
                            {{ translations['referral-description'] }}
                            <strong>{{ referral.address }}</strong>
                        </p>
                    </ng-container>
                    <ng-container *ngIf="!kycVerified">
                        <p class="alert" (click)="verification()">
                            {{ translations['lendingLimit']({maxLendingAmount: configuration.maxLendingAmount}) }},
                            <strong>{{ translations['kyc-validate'] }}</strong>
                        </p>
                    </ng-container>
                </div>

                <ng-template #noPromoCodeTemplate>
                    <div class="input-container padding-left">

                    </div>
                </ng-template>

           
            </div>

            <div class="actions">
                <button matStepperNext class="primary image-button" mat-ripple>
                    {{ translations['confirm'] }}
                </button>
            </div>

        </form>

    </mat-step>

    <mat-step [completed]="!stepTwoDisable()">

        <ng-template matStepperIcon="edit">
            <lazy-image-component src="./assets/okay.svg" objectFit="contain" width="28px" height="28px">
            </lazy-image-component>
        </ng-template>

        <ng-template matStepLabel>
            {{ translations['stepTwo'] }}
            <span>
                {{ translations['stepTwoTitle'] }}
            </span>
        </ng-template>

        <div class="form">

            <div class="box">

                <div class="item">
                    <div class="header">
                        <div class="title">
                            <lazy-image-component src="./assets/piechart.svg" objectFit="contain" width="32px"
                                height="32px">
                            </lazy-image-component>
                            <h3>{{ configuration.groupOneName }}</h3>
                            <!-- <h4>
                                &nbsp;
                            </h4> -->
                            <p>
                                Low-risk portfolio for the risk averse investor
                            </p>
                        </div>
                        <div class="percent">
                            <h2>
                                {{ groupOne }}%
                            </h2>
                            <!-- <p matTooltipTouchGestures="off" [matTooltip]="translations['50-tooltip']" class="help">
                                Up to $50
                            </p> -->
                        </div>
                    </div>
                    <mat-slider color="accent" thumbLabel [displayWith]="formatLabel" min="0" max="100" step="1"
                        (input)="calculateOne($event)" [(ngModel)]="groupOne" [ngModelOptions]="{standalone: true}">
                    </mat-slider>
                    <div class="group-info flex">
                        <div class="flex">
                            <p>{{translations['interest']}}</p>
                            <h4>{{configuration.groupOneInterest}}%</h4>
                        </div>
                        <div class="flex">
                            <p>{{translations['risk']}}</p>
                            <h4>{{configuration.groupOneRisk}}%</h4>
                        </div>
                    </div>

                    <div class="group-info flex margin">
                        <div class="flex">
                            <p>{{translations['address']}}</p>
                            <h4 copy>{{configuration.groupOne}}%</h4>
                        </div>
                    </div>

                    <div class="actions flex">
                        <button class="accent image-button" matRipple group-description="groupOneDescription">
                            {{ translations['portfolio'] }}
                        </button>
                    </div>

                </div>

                <div class="item">
                    <div class="header">
                        <div class="title">
                            <lazy-image-component src="./assets/piechart.svg" objectFit="contain" width="32px"
                                height="32px">
                            </lazy-image-component>
                            <h3>{{ configuration.groupTwoName }}</h3>
                            <!-- <h4>
                                {{ translations['soon'] }}
                            </h4> -->
                            <p>
                                Balanced portfolio for the average investor
                            </p>
                        </div>
                        <div class="percent">
                            <h2>
                                {{ groupTwo }}%
                            </h2>
                            <!-- <p matTooltipTouchGestures="off" [matTooltip]="translations['mx-tooltip']" class="help">
                                Up to $50
                            </p> -->
                        </div>
                    </div>
                    <mat-slider color="accent" thumbLabel [displayWith]="formatLabel" min="0" max="100" step="1"
                        (input)="calculateTwo($event)" [(ngModel)]="groupTwo" [ngModelOptions]="{standalone: true}">
                    </mat-slider>
                    <div class="group-info flex">
                        <div class="flex">
                            <p>{{translations['interest']}}</p>
                            <h4>{{configuration.groupTwoInterest}}%</h4>
                        </div>
                        <div class="flex">
                            <p>{{translations['risk']}}</p>
                            <h4>{{configuration.groupTwoRisk}}%</h4>
                        </div>
                    </div>

                    <div class="group-info flex margin">
                        <div class="flex">
                            <p>{{translations['address']}}</p>
                            <h4 copy>{{configuration.groupTwo}}%</h4>
                        </div>
                    </div>

                    <div class="actions flex">
                        <button class="accent image-button" matRipple group-description="groupTwoDescription">
                            {{ translations['portfolio'] }}
                        </button>
                    </div>

                </div>

                <div class="item">
                    <div class="header">
                        <div class="title">
                            <lazy-image-component src="./assets/piechart.svg" objectFit="contain" width="32px"
                                height="32px">
                            </lazy-image-component>
                            <h3>{{ configuration.groupThreeName }}</h3>
                            <!-- <h4>
                                {{ translations['soon'] }}
                            </h4> -->
                            <p>
                                Highly competitive returns at a reasonable risk.
                            </p>
                        </div>
                        <div class="percent">
                            <h2>
                                {{ groupThree }}%
                            </h2>
                            <!-- <p matTooltipTouchGestures="off" [matTooltip]="translations['mx-tooltip']" class="help">
                                Up to $50
                            </p> -->
                        </div>
                    </div>
                    <mat-slider color="accent" thumbLabel [displayWith]="formatLabel" min="0" max="100" step="1"
                        (input)="calculateThree($event)" [(ngModel)]="groupThree" [ngModelOptions]="{standalone: true}">
                    </mat-slider>
                    <div class="group-info flex">
                        <div class="flex">
                            <p>{{translations['interest']}}</p>
                            <h4>{{configuration.groupThreeInterest}}%</h4>
                        </div>
                        <div class="flex">
                            <p>{{translations['risk']}}</p>
                            <h4>{{configuration.groupThreeRisk}}%</h4>
                        </div>
                    </div>

                    <div class="group-info flex margin">
                        <div class="flex">
                            <p>{{translations['address']}}</p>
                            <h4 copy>{{configuration.groupThree}}%</h4>
                        </div>
                    </div>

                    <div class="actions flex">
                        <button class="accent image-button" matRipple group-description="groupTwoDescription">
                            {{ translations['portfolio'] }}
                        </button>
                    </div>

                </div>

                <div class="item">
                    <div class="header">
                        <div class="title">
                            <lazy-image-component src="./assets/piechart.svg" objectFit="contain" width="32px"
                                height="32px">
                            </lazy-image-component>
                            <h3>{{ configuration.groupFourName }}</h3>
                            <!-- <h4>
                                {{ translations['soon'] }}
                            </h4> -->
                            <p>
                                Extreme returns for riskier investors
                            </p>
                        </div>
                        <div class="percent">
                            <h2>
                                {{ groupFour }}%
                            </h2>
                            <!-- <p matTooltipTouchGestures="off" [matTooltip]="translations['mx-tooltip']" class="help">
                                Up to $50
                            </p> -->
                        </div>
                    </div>
                    <mat-slider color="accent" thumbLabel [displayWith]="formatLabel" min="0" max="100" step="1"
                        (input)="calculateFour($event)" [(ngModel)]="groupFour" [ngModelOptions]="{standalone: true}">
                    </mat-slider>
                    <div class="group-info flex">
                        <div class="flex">
                            <p>{{translations['interest']}}</p>
                            <h4>{{configuration.groupFourInterest}}%</h4>
                        </div>
                        <div class="flex">
                            <p>{{translations['risk']}}</p>
                            <h4>{{configuration.groupFourRisk}}%</h4>
                        </div>
                    </div>

                    <div class="group-info flex margin">
                        <div class="flex">
                            <p>{{translations['address']}}</p>
                            <h4 copy>{{configuration.groupFour}}%</h4>
                        </div>
                    </div>

                    <div class="actions flex">
                        <button class="accent image-button" matRipple group-description="groupTwoDescription">
                            {{ translations['portfolio'] }}
                        </button>
                    </div>

                </div>

            </div>

            <div class="actions margin">
                <button matStepperPrevious class="primary image-button" mat-ripple type="button">
                    {{ translations['prev'] }}
                </button>
                <button matStepperNext class="primary image-button" mat-ripple [disabled]="stepTwoDisable()">
                    {{ translations['next'] }}
                </button>
            </div>

        </div>

    </mat-step>

    <mat-step>

        <ng-template matStepperIcon="edit">
            <lazy-image-component src="./assets/okay.svg" objectFit="contain" width="28px" height="28px">
            </lazy-image-component>
        </ng-template>

        <ng-template matStepLabel>
            {{ translations['stepThree'] }}
            <span>
                {{ translations['stepThreeTitle'] }}
            </span>
        </ng-template>

        <div class="form">
            <div class="details flex">
                <div class="item">
                    <h3>
                        {{ translations['details'] }}
                    </h3>
                    <p>
                        {{ translations['detailsWallet'] }}
                        <span copy>
                            {{ walletAddress }}
                        </span>
                    </p>
                    <p>
                        {{ translations['detailsCurrency'] }}
                        <span>
                            {{ currency }}
                        </span>
                    </p>
                    <p>
                        {{ translations['amount'] }}
                        <span>
                            {{ amount }} {{ currency }}
                        </span>
                    </p>
                    <p>
                        {{ translations['months'] }}
                        <span>
                            {{ months }} {{ months == 1 ? translations['mnth'] : translations['mnths']}}
                        </span>
                    </p>
                </div>
                <div class="item">
                    <h3>
                        {{ translations['apy'] }}
                    </h3>
                    <p>
                        {{ configuration.groupOneName }}
                        <span>
                            {{ calculateGroupOne() | number:'1.6-6'}} {{ currency }}
                        </span>
                    </p>
                    <p>
                        {{ configuration.groupTwoName }}
                        <span>
                            {{ calculateGroupTwo() | number:'1.6-6'}} {{ currency }}
                        </span>
                    </p>
                    <p>
                        {{ configuration.groupThreeName }}
                        <span>
                            {{ calculateGroupThree() | number:'1.6-6'}} {{ currency }}
                        </span>
                    </p>
                    <p>
                        {{ configuration.groupFourName }}
                        <span>
                            {{ calculateGroupFour() | number:'1.6-6'}} {{ currency }}
                        </span>
                    </p>
                </div>
                <div class="item chart">
                    <h3>
                        {{ translations['allocation'] }}
                    </h3>
                    <div class="chart-container relative">
                        <canvas #chartElement></canvas>
                    </div>
                </div>
            </div>
            <div class="error" *ngIf="error.length > 0">
                <ng-container [ngSwitch]="formOne.get('wallet')?.value?.type">
                    <ng-container *ngSwitchCase="walletTypes.metamask">
                        {{ translations['metamask-error'] }} {{ error }}
                    </ng-container>
                    <ng-container *ngSwitchCase="walletTypes.credi">
                        {{ translations['web3-error'] }} {{ error }}
                    </ng-container>
                </ng-container>

            </div>
            <div class="actions">
                <button class="primary image-button green" mat-ripple (click)="submit()" [disabled]="isSubmit">
                    {{ translations['submit'] }}
                </button>
            </div>
        </div>


    </mat-step>

</mat-stepper>