mat-stepper {
    max-width: 1080px;
    margin: 75px 0 0 50px;
}

form,
div.form {
    margin-top: 24px;

    &.small {
        width: 800px;
        margin: 24px auto 0;
    }

    div.input {
        select-component {
            &:first-child {
                padding-right: 10px;
            }

            &:last-child {
                padding-left: 10px;
            }
        }

        div.input-container,
        select-component,
        input-component {
            flex: 1;
            align-self: flex-start;

            &:first-child {
                margin-right: 10px;
            }

            &:nth-child(2) {
                margin-left: 10px;
            }
        }

        div.input,
        div.slider {
            flex: 1;
            margin-left: 10px;
            padding-left: 10px;

            span {
                font-size: 12px;
                margin-bottom: 5px;
                color: #434343;
            }

            mat-slider {
                width: 100%;
            }
        }

        .padding-left {
            padding-left: 10px;
        }
    }

    div.actions {
        display: flex;
        margin: 15px 0;
        justify-content: center;

        button.primary {
            width: 350px;
        }

        &.margin {
            button {
                width: 300px;

                &:first-child {
                    margin-right: 10px;
                }

                &:nth-child(2) {
                    margin-left: 10px;
                }
            }
        }
    }

    div.box {
        display: flex;

        div.item {
            flex: 1;
            background: #ffffff;
            border: 1px solid rgba(31, 60, 135, 0.1);
            box-sizing: border-box;
            box-shadow: 0px 3px 6px rgba(189, 196, 211, 0.15);
            border-radius: 4px;
            padding: 5px;
            margin-right: 15px;
            width: 25%;
            overflow: hidden;

            div.header {
                display: flex;

                div.title {
                    h3 {
                        font-size: 14px;
                        color: var(--dark-blue);
                        margin: 5px 0;
                    }

                    h4 {
                        font-size: 12px;
                        color: var(--light-blue);
                        margin: 5px 0;
                    }

                    p {
                        color: var(--blueish-gray);
                        font-size: 11px;
                        margin: 0;
                    }
                }

                div.percent {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    h2 {
                        margin: 0;
                        font-size: 36px;
                        color: var(--light-blue);
                    }

                    p {
                        margin: 5px 0;
                        font-size: 11px;
                        color: var(--dark-blue);
                    }
                }
            }

            mat-slider {
                width: calc(100% - 10px);
                margin: 5px 0;
            }

            div.group-info {
                div.flex {
                    flex-direction: column;
                    margin-left: 10px;
                    width: 100%;

                    p,
                    h4 {
                        margin: 0;
                    }

                    p {
                        color: var(--blueish-gray);
                        font-size: 11px;
                    }

                    h4 {
                        font-size: 14px;
                        color: var(--dark-blue);
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                &.margin {
                    margin: 10px 0;

                    h4 {
                        width: 75%;
                    }
                }
            }

            div.actions {
                button {
                    width: calc(100% - 20px);
                }
            }
        }
    }

    div.details {
        ~div.actions {
            margin-top: 25px;
        }

        div.item {
            flex: 1;
            width: calc(100% / 3);
            padding: 0 15px;
            position: relative;

            h3 {
                text-transform: uppercase;
                color: #bdc4d3;
                font-size: 16px;
                margin: 10px 0 24px 0px;
            }

            p {
                display: flex;
                justify-content: space-between;
                color: var(--black);
                font-size: 14px;
                width: 100%;

                span {
                    color: var(--dark-blue);
                    width: 50%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: right;
                }
            }

            &:not(:last-child) {
                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background-color: rgba(31, 60, 135, 0.1);
                    top: 0;
                    right: 0;
                }
            }

            &.chart {
                display: flex;
                flex-direction: column;

                .chart-container {
                    flex: 1;
                    width: 100%;
                    height: 146px;
                    overflow: hidden;

                    canvas {
                        max-height: 146px;
                    }
                }
            }
        }
    }
}

p.alert {
    color: #e70000;
    margin: 0px;
    font-size: 14px;
    margin: 25px 0;
    user-select: none;
    cursor: pointer;
}

p.referral {
    color: var(--gray);
    font-size: 14px;
    margin: 0;

    strong {
        font-size: 12px;
        color: var(--dark-blue);

    }
}

div.error {
    color: #d00e00;
    font-size: 13px;
    margin-bottom: 12px;
}

button.link {
    color: var(--dark-blue);
    font-weight: 600;
}

.help {
    cursor: help;
}