:host {
    position: relative;
    display: block;
}
div.table-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    table {
        width: 100%;
        font-size: 0.9em;
        border-collapse: collapse;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        thead {
            tr {
                background-color: #009879;
                color: #ffffff;
                text-align: left;
            }
        }
        th,
        td {
            padding: 12px 15px;
        }
        tbody {
            tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }
            tr:last-of-type {
                border-bottom: 2px solid var(--dark-blue);
            }
            tr.active-row {
                font-weight: bold;
                color: var(--dark-blue);
            }
        }
    }
}

div.table-list {
    table thead,
    table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    table {
        min-width: 1000px;
        th.small {
            font-size: 12px;
        }
        tr {
            word-wrap: break-word;
            white-space: normal;
            &:first-child {
                background-color: var(--dark-blue);
                color: white;
            }
        }
    }
    table tbody {
        display: block;
        max-height: 450px;
        overflow-y: auto;
    }
}

button.close {
    position: absolute;
    top: -20px;
    right: -20px;
}
