<h4 class="title">
    <span>{{ translations['title'] }}</span>
</h4>

<div class="flex invitation">
    <mat-form-field color="accent">
        <input #input matInput placeholder="{{translations['search-placeholder']}}..." aria-label="Name"
            [(ngModel)]="text" (ngModelChange)="onKeyUp()" autocomplete>
    </mat-form-field>

    <mat-form-field color="accent" mat-line>
        <mat-select [placeholder]="translations['role']" [(value)]="filterRole" (selectionChange)="onFilter($event)">
            <mat-option *ngFor="let item of selectUserRoles | keyvalue : orderKeyValue" [value]="item.value.key">
                {{ translations[item.value.key] }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="item flex" *ngFor="let user of users; let i = index; trackBy: trackById">
    <h4>{{user.email}}</h4>
    <mat-form-field color="accent" mat-line>
        <mat-select [placeholder]="translations['role']" [(value)]="user.role" (selectionChange)="onChangeRole($event, i)">
            <mat-option *ngFor="let item of userRoles | keyvalue : orderKeyValue" [value]="item.value.key">
                {{ translations[item.value.key]  }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div #loadMore>
</div>