<form [formGroup]="sendForm" (ngSubmit)="onSubmit()" class="profile-dialog">

  <div class="loader" #loader></div>

  <div class="header">
    <h1>{{ translations["send-to"] }}</h1>
  </div>

  <div class="body flex">

    <input-component type="number" controlName="amount" placeholder="{{translations['amount']}} ( {{type}} )">
    </input-component>

    <input-component type="text" controlName="to" [placeholder]="translations['wallet-address']">
    </input-component>

    <input-component type="password" controlName="password" [placeholder]="translations['wallet-password-placeholder']"
      [readonly]="validate">
    </input-component>

    <p *ngIf="validate" class="validate">
      {{ translations['validate'] }}
    </p>

    <div class="actions flex">
      <button class="primary image-button" [disabled]="submit" mat-ripple>
        {{ translations['send'] }}
      </button>
    </div>

  </div>

</form>

<button class="image-button dialog-close" mat-ripple (click)="close()" *ngIf="!validate">
  <lazy-image-component src="./assets/cancel.svg" objectFit="contain" width="22px" height="22px" class="round">
  </lazy-image-component>
</button>