form,
div.status {
    position: relative;
    width: 100%;
    margin: 5px 20px;
    padding-left: 15px;
    flex-direction: column;
    max-width: 300px;
    padding-right: 10px;

    &::before {
        content: " ";
        position: absolute;
        top: 0px;
        left: 0;
        height: 98%;
        width: 4px;
        background-color: rgba(58, 63, 80, 0.2);
    }

    h2 {
        color: #2c3142;
        font-size: 16px;
        font-weight: 400;
        margin: 15px 0;
        position: relative;
        padding: 5px 0;
        margin-left: 10px;

        &::before {
            content: " ";
            position: absolute;
            bottom: 0px;
            left: -5px;
            height: 100%;
            width: calc(100% + 25px);
            background-color: rgba(140, 212, 236, 0.5);
            z-index: 1;
            height: 6px;
            width: 60%;
        }
        span {
            z-index: 2;
            position: relative;
        }
    }

    button {
        align-self: flex-end;
    }
}

div.status {
    width: 100%;
    max-width: 600px;

    div {
        margin-bottom: 3px;
        padding: 5px 0 3px 0;
        position: relative;
        align-items: center;
        &::before {
            content: " ";
            position: absolute;
            bottom: -2px;
            left: -2px;
            height: 100%;
            background-color: rgb(168 222 241 / 30%);
            z-index: 1;
            height: 1px;
            width: 60%;
        }
    }
    p {
        margin: 0;
        font-size: 14px;
        &.small {
            font-size: 12px;
        }
        &:first-child {
            flex: 1;
            max-width: 130px;
        }
        &:last-child {
            color: #4292ad;
            padding-left: 10px;
        }
        span {
            font-size: 11px;
            display: block;
        }
    }
}

input.small {
    font-size: 11px;
}

@media (max-width: 500px) {
    form,
    div.status {
        margin: 5px 0px;
        padding: 0 20px 20px 20px;
        max-width: unset;
        &::before {
            display: none;
        }
        div.box {
            margin: 0 auto;
        }
        button {
            max-width: unset;
        }
    }
    div.status {
        p {
            max-width: 100% !important;
            text-overflow: ellipsis;
            overflow: hidden;
            &.small {
                font-size: 11px;
            }
        }
    }
}
