:host {
    overflow: hidden;
    display: flex;
    button {
        background: #f1f2f7;
        padding: 10px 30px;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        transition: ease 200ms;
        display: flex;
        width: 100%;
        color: var(--dark-blue);
        border-left: 1px solid rgba(31, 60, 135, 0.1);
        border-right: 1px solid rgba(31, 60, 135, 0.1);
        text-align: left;
        &.active {
            background-color: var(--blueish-gray);
            border-right-color: var(--blueish-gray);
            border-left-color: var(--blueish-gray);
        }
        &:hover {
            background-color: #dae4ea !important;
            border-right-color: #dae4ea;
            border-left-color: #dae4ea;
        }
    }
}
