select-component {
    display: flex;
    min-height: 40px;
    padding-bottom: 20px;
    width: 100%;
    overflow: hidden;

    div.relative {
        width: 100%;
    }

    span.placeholder {
        font-size: 12px;
        margin-bottom: 5px;
        color: #434343;
        display: block;
    }

    button.main {
        background: #f1f2f7;
        border: 1px solid rgba(31, 60, 135, 0.1);
        box-sizing: border-box;
        border-radius: 4px;
        min-height: 40px;
        width: 100%;
        padding: 0 10px;
        transition: ease 200ms;
        z-index: 2;
        display: flex;
        align-items: center;
        color: var(--dark-blue);
        position: relative;

        span {
            width: calc(100% - 50px);
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            padding: 0 15px 0 5px;
        }

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid var(--gray);
            margin-left: auto;
        }

        &.active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    div.buttons {
        position: fixed;
        opacity: 0;
        visibility: hidden;
        transition: ease opacity 200ms, ease visibility 100ms, ease height 100ms;
        background-color: #f1f2f7;
        overflow: hidden;
        height: 0;
        width: 100%;
        z-index: 21;
        top: calc(100% - 1px);
        z-index: 9999;

        option-component {
            &:last-child {
                border-bottom: 1px solid rgba(31, 60, 135, 0.1);
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }

    div.errors {
        position: absolute;
        bottom: 0;
        opacity: 0;
        transform: translateY(-40px);
        transition: 200ms ease;
        visibility: hidden;
        width: 100%;
        z-index: 1;
        p {
            color: #d00e00;
            position: absolute;
            width: 100%;
            font-size: 12px;
            margin: 0;
        }
    }

    div.invalid {
        span {
            color: #d00e00;
        }
        button.main {
            border-color: #d00e00;
            background-color: #ffdbdb;
        }
        div.buttons {
            button {
                border-color: #d00e00 !important;
                background-color: #ffdbdb !important;
            }
            option-component {
                border-color: #d00e00 !important;
            }
        }
        div.errors {
            opacity: 1 !important;
            visibility: visible !important;
            transform: translateY(2px) !important;
        }
    }
}
