.wallet-body {
    padding-left: 20px;
    height: 90px;
    border-radius: 20px;
    background-color: #F3F4FA;
}

.coin {
    display: grid;
    grid-template-columns: 50px 45px;
    column-gap: 12px;
    align-items: center;
}

.align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
}

.values {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.values div {
    text-align: right;
}

.large {
    grid-row-end: span 2;
}
