<h3>
  {{ title }}
</h3>
<div class="menu flex">
  <button class="image-button metamask flex" mat-ripple (click)="connect()">
    <lazy-image-component src="./assets/metamask.svg" objectFit="contain" width="22px" height="22px">
    </lazy-image-component>
    <span>{{ address ? address : this.translations['connect'] }}</span>
  </button>

  <button class="image-button metamask flex" mat-ripple [matMenuTriggerFor]="network">
    <lazy-image-component src="./assets/{{chain?.name}}.svg" objectFit="contain" width="42px" height="42px">
    </lazy-image-component>
    {{ translations[$any(chain).name] }}
  </button>

  <!-- <button class="image-button level flex" mat-ripple (click)="navigate('/profile/dashboard/lend/referral')">
    <lazy-image-component src="./assets/share.svg" objectFit="contain" width="18px" height="18px">
    </lazy-image-component>
    {{ translations['referral'] }}
  </button> -->

  <ng-container *ngIf="user.kycActivation else notVerified">
    <button class="image-button level flex" mat-ripple>
      <lazy-image-component src="./assets/star.svg" objectFit="contain" width="22px" height="22px">
      </lazy-image-component>
      <span >
        Verified
      </span>
    </button>
  </ng-container>
  <ng-template #notVerified>    
    <button class="image-button level flex" mat-ripple (click)="openShufti()">
      <lazy-image-component src="./assets/star.svg" objectFit="contain" width="22px" height="22px">
      </lazy-image-component>
      <span class="red">
        Not Verified
      </span>
    </button>
  </ng-template>

  <mat-menu #network="matMenu">

    <button mat-menu-item class="flex-menu-button padding" *ngFor="let item of networks | keyvalue: orderKeyValue"
      (click)="setNetwork($any(item?.value)?.key)">
      <lazy-image-component src="./assets/{{$any(item?.value)?.key}}.svg" objectFit="contain" width="64px"
        height="64px">
      </lazy-image-component>
      <span>{{ translations[$any(item?.value)?.key] }}</span>
    </button>

  </mat-menu>

  <button class="image-button menu" mat-ripple [matMenuTriggerFor]="menu">
    {{ letter }}
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item class="flex-menu-button padding" [disabled]="!modules.dashboard"
      (click)="navigate('/profile/information')">
      <lazy-image-component src="./assets/dashboard.png" objectFit="contain" width="22px" height="22px">
      </lazy-image-component>
      <span>{{ translations['profile'] }}</span>
    </button>
    <button mat-menu-item class="flex-menu-button padding" (click)="navigate('/profile/dashboard/lend/referral')">
      <lazy-image-component src="./assets/share.svg" objectFit="contain" width="22px" height="22px">
      </lazy-image-component>
      <span>{{ translations['referral'] }}</span>
    </button>
    <button mat-menu-item class="flex-menu-button padding" [disabled]="!modules.security"
      (click)="navigate('/profile/information/security')">
      <lazy-image-component src="./assets/shield.png" objectFit="contain" width="22px" height="22px">
      </lazy-image-component>
      <span>{{ translations['security'] }}</span>
    </button>
    <button mat-menu-item class="flex-menu-button padding" [disabled]="!modules.varification"
      (click)="navigate('/profile/information/overview')">
      <lazy-image-component src="./assets/check.png" objectFit="contain" width="22px" height="22px">
      </lazy-image-component>
      <span>{{ translations['verification'] }}</span>
    </button>
    <button mat-menu-item class="flex-menu-button padding" [disabled]="!modules.wallet"
      (click)="navigate('/profile/wallet')">
      <lazy-image-component src="./assets/wallet.png" objectFit="contain" width="22px" height="22px">
      </lazy-image-component>
      <span>{{ translations['wallet'] }}</span>
    </button>

    <button mat-menu-item class="flex-menu-button padding" [disabled]="!modules.help"
      (click)="navigate('/profile/help')">
      <lazy-image-component src="./assets/help.png" objectFit="contain" width="22px" height="22px">
      </lazy-image-component>
      <span>{{ translations['help'] }}</span>
    </button>

    <button mat-menu-item class="flex-menu-button padding" (click)="logout()">
      <lazy-image-component src="./assets/logout.png" objectFit="contain" width="22px" height="22px">
      </lazy-image-component>
      <span>{{ translations['logout'] }}</span>
    </button>
  </mat-menu>
</div>