@use "@angular/material" as mat;

@include mat.core();

$dark-primary: mat.define-palette(mat.$indigo-palette);
$dark-accent: mat.define-palette(mat.$light-blue-palette, 300);
$dark-warn: mat.define-palette(mat.$red-palette);
$dark-theme: mat.define-light-theme($dark-primary, $dark-accent, $dark-warn);

@include mat.all-component-themes($dark-theme);

$blue-palette: (
    50: #1f3c87,
    100: #1f3c87,
    200: #1f3c87,
    300: #1f3c87,
    400: #1f3c87,
    500: #1f3c87,
    600: #1f3c87,
    700: #1f3c87,
    800: #1f3c87,
    900: #1f3c87,
    A100: #1f3c87,
    A200: #1f3c87,
    A400: #1f3c87,
    A700: #1f3c87,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    ),
);

$light-blue-palette: (
    50: #48b9ff,
    100: #48b9ff,
    200: #48b9ff,
    300: #48b9ff,
    400: #48b9ff,
    500: #48b9ff,
    600: #48b9ff,
    700: #48b9ff,
    800: #48b9ff,
    900: #48b9ff,
    A100: #48b9ff,
    A200: #48b9ff,
    A400: #48b9ff,
    A700: #48b9ff,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    ),
);

$orange-palette: (
    50: #e46f4a,
    100: #e46f4a,
    200: #e46f4a,
    300: #e46f4a,
    400: #e46f4a,
    500: #e46f4a,
    600: #e46f4a,
    700: #e46f4a,
    800: #e46f4a,
    900: #e46f4a,
    A100: #e46f4a,
    A200: #e46f4a,
    A400: #e46f4a,
    A700: #e46f4a,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    ),
);

// Define the default theme (same as the example above).
$member-primary: mat.define-palette($blue-palette, 200);
$member-accent: mat.define-palette($light-blue-palette, 200);
$member-warn: mat.define-palette($orange-palette, 400);
$member-theme: mat.define-light-theme($member-primary, $member-accent, $member-warn);

.member {
    @include mat.all-component-themes($member-theme);
}
