@import "theme";

:root {
    --dark-blue: #1f3c87;
    --light-blue: #48b9ff;
    --blueish-gray: #bdc4d3;
    --gray: #5a5e68;
    --black: #181818;
    --white: #ffffff;
    --green: #1cb659;
    --orange: #e46f4a;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.image-button {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.text-right {
    text-align: right;
}

.relative {
    position: relative;
}

mat-option {
    &.wrap {
        white-space: normal !important;
        line-height: 1.2 !important;
        height: auto !important;
        font-size: 14px !important;
        padding: 8px !important;
        span.option-description {
            font-size: 12px;
            color: #a41919;
        }
    }
    &.image {
        font-size: 12px !important;
        padding: 5px !important;
        div.flex {
            align-items: center;
            white-space: pre;
            lazy-image-component {
                padding-right: 5px;
            }
        }
    }
    &.critical {
        background-color: rgb(255, 0, 0, 0.27) !important;
    }
}

.mat-accent {
    .mat-option.mat-selected:not(.mat-option-disabled) {
        color: #16739c !important;
    }
}

h4.title {
    margin-left: 25px;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    position: relative;

    span {
        z-index: 3;
        position: relative;
    }

    &::before {
        content: " ";
        background-color: #8cd4ec;
        position: absolute;
        bottom: -3px;
        width: 100%;
        height: 5px;
        left: -8px;
        z-index: 2;
    }
}

button,
a {
    &.fixed {
        display: flex;
        position: fixed;
        bottom: 50px;
        right: 50px;
        align-items: center;
        justify-content: center;
        opacity: 0.7;
        transition: ease 200ms;
        z-index: 1;
        &:hover {
            opacity: 1;
        }
    }
}

a,
button {
    &.ripple {
        margin: 0 2px;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        align-items: center;
        justify-content: center;
    }
}

a.link {
    color: rgba(21, 116, 245, 1);
    text-decoration: none;
}

.mat-step-label {
    white-space: pre-line !important;
}

div.offline {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.4);
    z-index: 21;
    top: 0;
    left: 0;

    div {
        max-width: 365px;
        background: white;
        padding: 25px;
        border-radius: 4px;
        text-align: initial;
        top: 25%;
        position: absolute;
        left: 50%;
        width: 85%;
        transform: translateX(-50%);
        background-color: #fcfcfd;

        h3 {
            font-size: 20px;
            font-weight: 500;
            margin: 0 0 7px;
            color: var(--dark-blue);
        }

        p {
            margin: 0;
            font-size: 15px;
            font-weight: 300;
            color: var(--black);

            &.text-right {
                margin: 10px 0;
            }
        }
    }
}

.select-input {
    width: 100%;
    padding: 2px 10px;
}

.select-button {
    width: 100%;
    padding: 5px 10px;
    text-align: left;
    font-size: 13px;
}

div.update {
    background: #3a3f50;
    padding: 12px;
    border-radius: 4px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 2%), 0 1px 0 rgb(0 0 0 / 2%);
    display: flex;
    flex-direction: column;
    max-width: 200px;

    p {
        margin: 0;
        font-size: 13px;
        color: white;
        padding: 2px 0px;
    }

    button {
        color: #8cd4ec;
        align-self: flex-end;
        padding: 2px 0px;
    }

    div.actions {
        justify-content: space-between;
    }
}

.word-break {
    word-break: break-all;
    white-space: normal !important;
    height: auto !important;
    min-height: 48px;
    line-height: 18px !important;
    padding: 5px 16px !important;
    &.flex {
        display: flex !important;
        align-items: center;
        lazy-image-component {
            margin-right: 5px;
        }
    }
}

[group-description] {
    font-weight: 600;
    text-decoration-color: rgb(0 0 0 / 28%);
    cursor: pointer;
}

.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb,
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
    background-color: white;
}

.mat-slider-track-background {
    background-color: white;
}

.mat-slider:hover .mat-slider-track-background,
.cdk-focused .mat-slider-track-background {
    background-color: white;
}

.mat-accent .mat-slider-thumb-label-text {
    color: white;
}

mat-slider.green {
    .mat-slider-thumb {
        background-color: rgb(1 109 73) !important;
    }

    .mat-slider-thumb-label {
        background-color: rgb(1 109 73) !important;
    }

    .mat-slider-track-fill {
        background-color: rgb(1 109 73) !important;
    }
}

mat-slider.lightGreen {
    .mat-slider-thumb {
        background-color: #0eb7ae !important;
    }

    .mat-slider-thumb-label {
        background-color: #0eb7ae !important;
    }

    .mat-slider-track-fill {
        background-color: #0eb7ae !important;
    }
}

mat-slider.lightBlue {
    .mat-slider-thumb {
        background-color: rgb(30, 148, 209) !important;
    }

    .mat-slider-thumb-label {
        background-color: rgb(30, 148, 209) !important;
    }

    .mat-slider-track-fill {
        background-color: rgb(30, 148, 209) !important;
    }
}

mat-slider.blue {
    .mat-slider-thumb {
        background-color: rgb(50 102 255) !important;
    }

    .mat-slider-thumb-label {
        background-color: rgb(50 102 255) !important;
    }

    .mat-slider-track-fill {
        background-color: rgb(50 102 255) !important;
    }
}

.address-dialog {
    mat-dialog-container {
        padding: 0 !important;
        width: 50vh;
        height: 50vh;
        max-width: 300px;
        max-height: 335px;
    }
}

button.flex-menu-button {
    display: flex !important;
    align-items: center;
    &.padding {
        padding: 15px;
    }
    lazy-image-component {
        margin-right: 5px;
    }
}

button.primary,
a.primary {
    background-color: var(--dark-blue);
    color: white;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    &:disabled {
        opacity: 0.7;
    }
    &.green {
        background-color: var(--green);
    }
}

button.accent,
a.accent {
    background-color: white;
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid rgba(31, 60, 135, 0.1);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 8px rgba(189, 196, 211, 0.15));
    border-radius: 5px;
}

button.dialog-close {
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 2px;
}

mat-checkbox.wrap {
    font-size: 13px;
    label {
        display: inline;
        white-space: normal !important;
        .mat-checkbox-label {
            line-height: 20px;
        }
    }
}

@media (max-width: 500px) {
    div.update {
        bottom: 10px !important;
        right: 10px !important;
    }
}
