<div class="portfolio-lending">
    <h2 class="h2-general">Staking options</h2>
</div>

<div>
    <div class="div-table">
        <div class="app-type-of-steaking">
            <app-type-of-steaking
                [logoMobile]="logoMobile"
                [steakingTitle]="steakingTitle"
            ></app-type-of-steaking>
            <app-type-of-steaking
                [logoMobile]="logoMobile2"
                [steakingTitle]="steakingTitle2"
            ></app-type-of-steaking>
            <app-type-of-steaking
                [logoMobile]="logoMobile2"
                [steakingTitle]="steakingTitle2"
            ></app-type-of-steaking>
            <app-type-of-steaking
                [logoMobile]="logoMobile2"
                [steakingTitle]="steakingTitle2"
            ></app-type-of-steaking>
        </div>
    </div>
</div>

<div class="portfolio-lending">
    <h2 class="h2-general">My staking</h2>
</div>
<div class="app-portfolio-steaking">
    <app-portfolio-steaking [portfolioImage]="portfolioImage"></app-portfolio-steaking>
    <app-portfolio-steaking [portfolioImage]="portfolioImage"></app-portfolio-steaking>
</div>