:host {
    display: block;
    background: #ffffff;
    border: 1px solid rgba(31, 60, 135, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(189, 196, 211, 0.15);
    border-radius: 5px;
    padding: 5px 10px;
    user-select: none;
    cursor: pointer;
}

h3 {
    color: var(--gray);
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

div.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

div.container {
    height: 0px;
    overflow: hidden;
    transition: height ease 200ms;
    padding: 0 10px;
    hr {
        height: 1px;
        background: rgba(31, 60, 135, 0.1);
        width: 100%;
        border: none;
        margin: 10px;
    }
    p {
        color: var(--gray);
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
    }
}

div.opened {
    h3 {
        transition: ease 200ms;
        font-weight: bold;
        color: var(--dark-blue);
    }
}
