<div class="loader" #loader></div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="title">
    <h4 class="title">
      <span>{{ translations['decrypt-title'] }}</span>
    </h4>
  </div>

  <mat-form-field color="accent">
    <mat-label>{{ translations['decrypt-label'] }} </mat-label>
    <input matInput formControlName="password" autocomplete type="password" [readonly]="validate">
    <mat-error *ngFor="let error of form.controls.password  | error">
      {{error}}
    </mat-error>
  </mat-form-field>

  <p *ngIf="validate">
    {{ translations['validate'] }}
  </p>

  <button mat-raised-button [disabled]="submit">
    {{ translations['decrypt-button'] }}
  </button>

</form>