div.table {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 auto;
    border-bottom: solid 1px #dddddd;

    div.col {
        display: flex;
        div {
            flex: 1;
            &:first-child {
                border-left: solid 1px #dddddd;
                border-top: solid 1px #dddddd;
                border-right: solid 1px #dddddd;
            }
            &:last-child {
                border-right: solid 1px #dddddd;
                border-top: solid 1px #dddddd;
            }
            p {
                font-size: 15px;
                padding: 5px;
                margin: 5px;
            }
        }
    }
}