:host {
    display: block;
    max-width: 300px;
    min-width: 250px;
}

.header {
    margin-bottom: 10px;

    h3 {
        font-weight: 400;
        margin: 0;
    }
}

.content {
    font-size: 14px;
    white-space: pre-line;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

button.left {
    margin-right: 5px;
}

button {
    text-transform: uppercase;
    font-size: 13px;
}

@media (max-width: 550px) {
    :host {
        max-width: 300px !important;
        min-width: 100% !important;
    }
}
