:host {
    display: flex;
    flex-direction: column;
}

div.container {
    margin: 70px auto 0px;
    width: 880px;
    form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        h3 {
            flex: 1;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            color: var(--dark-blue);
            margin: 0;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        div {
            flex: 2.4;
            align-items: top;
            input-component {
                width: 100%;
            }
            button {
                width: 200px;
                height: 42px;
                margin-left: 10px;
                margin-bottom: 20px;
            }
        }
    }
    expansion-component {
        margin-bottom: 15px;
    }
}
