<h2 class="center">
    {{ translations['title'] }}
</h2>

<!-- <form [formGroup]="form" (ngSubmit)="submit()" [class.submitted]="submitted">
    <div class="box flex">
        <div class="income">
            <h3>
                {{ translations['income-title'] }}
            </h3>

            <button [matMenuTriggerFor]="currencyMenu" class="image-button wallet" matRipple type="button">
                <lazy-image-component src="./assets/coins-stack.svg" width="21px" height="21px" objectFit="contain">
                </lazy-image-component>
                {{ translations['currency'] }} <small *ngIf="this.currency">( {{this.currency.name}} )</small>
            </button>
            <mat-menu #currencyMenu="matMenu">
                <button mat-menu-item *ngFor="let item of currencies | keyvalue; let i = index"
                    class="word-break flex" (click)="setCurrency(i)" type="button">
                    <lazy-image-component src="./assets/{{item.logo}}" width="21px" height="21px" objectFit="contain">
                    </lazy-image-component>
                    {{item.name}}
                </button>
            </mat-menu>
            <div class="flex">
                <button class="image-button photo flex" matTooltipTouchGestures="off"
                    [matTooltip]="translations['image-tooltip']" type="button" matRipple
                    file-picker="{{fileTypes.image.key}}" (handler)="onSelectImage($event)" type="button">
                    <lazy-image-component matRipple [src]="image" width="100%" height="100%" objectFit="scale-down">
                    </lazy-image-component>
                </button>
                <button class="image-button photo flex" matTooltipTouchGestures="off"
                    [matTooltip]="translations['pdf-tooltip']" type="button" matRipple
                    file-picker="{{fileTypes.pdf.key}}" (handler)="onSelectPdf($event)" type="button">
                    <lazy-image-component matRipple [src]="pdf" width="100%" height="100%" objectFit="scale-down">
                    </lazy-image-component>
                </button>
            </div>
            <div class="group">
                <input required formControlName="name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{ translations['name'] }}</label>
            </div>
            <div class="group">
                <input required formControlName="email">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{ translations['email'] }}</label>
            </div>
            <div class="group">
                <input required formControlName="phone">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{ translations['phone'] }}</label>
            </div>
            <div class="group">
                <input required formControlName="walletAddress">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{ translations["select-wallet"]}}</label>
            </div>
            <div class="group">
                <input type="number" required formControlName="amount">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{ translations['amount'] }}</label>
            </div>
            <div class="group">
                <input type="number" required formControlName="months">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{ translations['months'] }}</label>
            </div>
            <div class="group">
                <input formControlName="createdAt" (click)="picker.open()" [matDatepicker]="picker">
                <mat-datepicker #picker></mat-datepicker>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{ translations['fromDate'] }}</label>
            </div>
        </div>
        <div class="summary flex">

            <div>

                <h3>
                    {{ translations['summary'] }}
                </h3>

                <div class="small files">
                    <a class="image-button" target="_blank" href="{{cloud_url}}/uploads/images/{{_image.name}}">
                        {{ _image.name }}
                    </a>
                    <a class="image-button" target="_blank" href="{{cloud_url}}/uploads/pdf/{{_pdf.name}}">
                        {{ _pdf.name }}
                    </a>
                </div>

                <div class="item">
                    {{translations['email']}}:
                    <ng-container>
                        {{ form.get('email')?.value }}
                    </ng-container>
                </div>

                <div class="item">
                    {{translations['name']}}:
                    <ng-container *ngIf="form.get('name')?.value">
                        {{ form.get('name')?.value }}
                    </ng-container>
                </div>

                <div class="item">
                    {{translations['phone']}}:
                    <ng-container *ngIf="form.get('phone')?.value">
                        {{ form.get('phone')?.value }}
                    </ng-container>
                </div>

                <div class="item">
                    {{translations['fund']}}: <ng-container *ngIf="this.currency">{{ this.currency.name }}
                    </ng-container>
                </div>

                <div class="item">
                    <ng-container>
                        {{ translations['wallet-address'] }}:
                        <ng-container *ngIf="form.get('walletAddress')?.value">
                            {{ form.get('walletAddress')?.value }}
                        </ng-container>
                    </ng-container>

                </div>

                <div class="item">
                    {{translations['amount']}}:
                    <ng-container *ngIf="form.get('amount')?.value">
                        {{ form.get('amount')?.value }}
                    </ng-container>
                </div>

                <div class="item">
                    {{translations['months']}}:
                    <ng-container *ngIf="form.get('months')?.value">
                        {{ form.get('months')?.value }}
                    </ng-container>
                </div>

            </div>

        </div>
    </div>

    <div class="spreadsheet small-scroll" *ngFor="let page of pages | keyvalue: orderKeyValue; trackBy: trackByIndex">
        <table>

            <thead>
                <tr>
                    <th width="5%"></th>

                    <th width="30%">{{ translations[page.value.title.key] }}</th>
                    <th width="16.25%" *ngFor="let y of page.value.title.data; trackBy: trackByIndex">
                        {{ y }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container
                    *ngFor="let item of page.value.data | keyvalue: orderKeyValue; trackBy: trackByIndex; last as isLast">
                    <tr *ngFor="let g of item.value.data; trackBy: trackByIndex; let pi = index;" [formArrayName]="g">
                        <td width="5%">{{ item.value.number + pi }}</td>
                        <td width="30%">{{ translations[g] }}</td>
                        <td width="16.25%"><input class="value" placeholder="Value" type="number"
                                [formControlName]="0" />
                        </td>
                        <td width="16.25%"><input class="value" placeholder="Value" type="number"
                                [formControlName]="1" />
                        </td>
                        <td width="16.25%"><input class="value" placeholder="Value" type="number"
                                [formControlName]="2" />
                        </td>
                        <td width="16.25%"><input class="value" placeholder="Value" type="number"
                                [formControlName]="3" />
                        </td>
                    </tr>
                    <tr>
                        <td width="5%"></td>
                        <td width="30%">{{ translations[item.value.key] }}</td>
                        <td width="16.25%">{{ getTotal(item.value.total,0) | number:'1.2-2'}}</td>
                        <td width="16.25%">{{ getTotal(item.value.total,1) | number:'1.2-2'}}</td>
                        <td width="16.25%">{{ getTotal(item.value.total,2) | number:'1.2-2'}}</td>
                        <td width="16.25%">{{ getTotal(item.value.total,3) | number:'1.2-2'}}</td>
                    </tr>
                    <ng-container *ngIf="!isLast">
                        <tr>
                            <td width="5%">&nbsp;</td>
                            <td width="30%">&nbsp;</td>
                            <td width="16.25%">&nbsp;</td>
                            <td width="16.25%">&nbsp;</td>
                            <td width="16.25%">&nbsp;</td>
                            <td width="16.25%">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="5%">&nbsp;</td>
                            <td width="30%">&nbsp;</td>
                            <td width="16.25%">&nbsp;</td>
                            <td width="16.25%">&nbsp;</td>
                            <td width="16.25%">&nbsp;</td>
                            <td width="16.25%">&nbsp;</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="spreadsheet small-scroll">
        <table>

            <thead>
                <tr>
                    <th width="5%"></th>
                    <th width="80%" align="left">
                        {{ translations['bsPL'] }}
                    </th>
                    <th width="15%">
                        {{ translations['values'] }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="5%"></td>
                    <td width="80%">
                        {{ translations['profitBeforeInterestTaxes'] }}
                    </td>
                    <td width="15%" align="center">
                        {{ getTotal(pageThree.data.profitBeforeInterestTaxes.total, 3) }}
                    </td>
                </tr>
                <tr>
                    <td width="5%"></td>
                    <td width="80%">
                        {{ translations['interestExpense'] }}
                    </td>
                    <td width="15%" align="center">
                        {{ form.value.interestExpense[3] || 0 }}
                    </td>
                </tr>
                <tr>
                    <td width="5%"></td>
                    <td width="80%">
                        {{ translations['currentAssets'] }}
                    </td>
                    <td width="15%" align="center">
                        {{ getTotal(pageOne.data.totalCurrentAssets.total, 3) }}
                    </td>
                </tr>
                <tr>
                    <td width="5%"></td>
                    <td width="80%">
                        {{ translations['currentLiabilities'] }}
                    </td>
                    <td width="15%" align="center">
                        {{ getTotal(pageTwo.data.totalCurrentLiabilities.total, 3) }}
                    </td>
                </tr>
                <tr>
                    <td width="5%"></td>
                    <td width="80%">
                        {{ translations['longTermAssets'] }}
                    </td>
                    <td width="15%" align="center">
                        {{ getTotal(pageOne.data.totalLongTermAssets.total, 3) }}
                    </td>
                </tr>
                <tr>
                    <td width="5%"></td>
                    <td width="80%">
                        {{ translations['longTermLiabilities'] }}
                    </td>
                    <td width="15%" align="center">
                        {{ getTotal(pageTwo.data.totalLongTermLiabilities.total, 3) }}
                    </td>
                </tr>
                <tr>
                    <td width="5%"></td>
                    <td width="80%">
                        {{ translations['equity'] }}
                    </td>
                    <td width="15%" align="center">
                        {{ getTotal(pageTwo.data.totalNetWorth.total, 3) }}
                    </td>
                </tr>
                <tr>
                    <td width="5%"></td>
                    <td width="80%">
                        {{ translations['profiBeforeTax'] }}
                    </td>
                    <td width="15%" align="center">
                        {{ getTotal(pageThree.data.profiBeforeTax.total, 3) }}
                    </td>
                </tr>
                <tr>
                    <td width="5%"></td>
                    <td width="80%">
                        {{ translations['netSales'] }}
                    </td>
                    <td width="15%" align="center">
                        {{ form.value.netSales[3] || 0 }}
                    </td>
                </tr>
                <tr>
                    <td width="5%"></td>
                    <td width="80%">
                        {{ translations['loans'] }}
                    </td>
                    <td width="15%" align="center">
                        {{ (form.value.shortTermDebt[3] || 0) + (form.value.longTermDebt[3] || 0) }}
                    </td>
                </tr>
                <tr>
                    <td width="5%"></td>
                    <td width="80%">
                        {{ translations['ebitda'] }}
                    </td>
                    <td width="15%" align="center">
                        0
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="actions">
        <button class="image-button" matRipple [disabled]="disabled">
            {{ translations['create'] }}
        </button>
    </div>

</form> -->