<user-menu-component [title]="translations['title']"></user-menu-component>
<div class="container">
    <div class="item">
        <div class="letter">
            {{ letter }}
        </div>
        <div class="info">
            <h4>
                {{ translations['details'] }}
            </h4>
            <p class="info">
                {{ translations['email'] }}: <span>{{email}} </span>
            </p>
            <p class="level">
                {{ translations['level'] }}:
                <span *ngIf="user.kycActivation else kycTemplate">
                    {{ translations['verified'] }}
                </span>
                <ng-template #kycTemplate>
                    <span class="red">
                        {{ translations['unverified'] }}
                    </span>
                </ng-template>
            </p>
            <p class="level">
                {{ translations['GA'] }}:
                <span *ngIf="user.gaEnabled else gaTemplate">
                    {{ translations['enabled'] }}
                </span>
                <ng-template #gaTemplate>
                    <span class="red">
                        {{ translations['disabled'] }}
                    </span>
                </ng-template>
            </p>
        </div>
    </div>
    <div class="item">
        <lazy-image-component src="./assets/credefi-logo-small.svg" objectFit="contain" width="84px" height="84px">
        </lazy-image-component>
        <div class="info">
            <h4>
                {{ translations['activity'] }}:
            </h4>
            <p class="info">
                {{ translations['tier'] }}: <span> {{ user.tierLevel }} </span>
            </p>
            <p class="info">
                {{ translations['loans'] }}: <ng-container *ngIf="fundsDeployed else noFunds"><span> {{ fundsDeployed | number:'1.2-2' }} <span>USD</span></span></ng-container>
                <ng-template #noFunds>
                    <span>--/--</span>
                </ng-template>
            </p>
            <p class="info">
                {{ translations['last-login'] }}: <span>{{ lastLogin | date:'d/LL/yyyy' }} </span>
            </p>
        </div>
    </div>
</div>