:host {
    padding: 0px !important;
}
div.container {
    margin: 70px auto 0px;
    width: 860px;
    display: flex;
    div.item {
        background: #ffffff;
        border: 1px solid rgba(31, 60, 135, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 4px 8px rgba(189, 196, 211, 0.15);
        border-radius: 5px;
        flex: 1;
        padding: 25px 15px;
        display: flex;
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 10px;
        }
        div.info {
            padding: 0 10px 0 20px;
            h4 {
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                color: var(--blueish-gray);
                text-transform: uppercase;
            }
        }
        div.letter {
            border-radius: 50%;
            background-color: var(--dark-blue);
            width: 64px;
            height: 64px;
            text-transform: uppercase;
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--white);
            box-shadow: 0px 4px 8px rgb(189 196 211 / 15%);
        }
        p.info {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            color: var(--gray);
            span {
                color: var(--dark-blue);
            }
        }
        p.level {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            color: var(--gray);
            span {
                color: var(--green);
                font-weight: bold;
                &.red{
                    color: red;

                }
            }
        }
    }
}
