:host {
    display: flex;
    padding: 0 !important;
    max-width: 1140px;
    flex-direction: column;
}

h3.title {
    margin: 0 0 20px 5px;
    font-weight: bold;
    font-size: 14px;
    color: var(--blueish-gray);
}

div.children {
    margin-top: 25px !important;
}
